body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #f5f5f5;
    height: 100vh;
}

/* Fejléc stílusa */
.main-header {
    background-color: #461f50; /* Az a jellegzetes lila */
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
}

.main-header h1 { margin: 0; font-weight: 400; font-size: 60px; }
/* A gomb és az Info tárolója a jobb oldalon */



.header-btn { 
    cursor: pointer; 
    text-decoration: none; 
    font-size: 20px; 
    color: #ffffff;
    background: none;
    border: none;      
    padding: 10px 20px;      
    font-family: inherit;

}

.header-btn:hover { 
    opacity: 1;
    text-decoration: underline; 
}

/* Középre igazított gombok */
.menu-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    gap: 80px;
}
/* Munkafelület elrendezése */
.workspace {
    display: flex;
    height: 75vh;
    gap: 10px;
    padding: 10px;
}

#cy1, #cy2 { flex-grow: 1; width: 100%; }

.menu-btn {
    background-color: #461f50;
    border: 1px solid #000000;
    color: white;
    border-radius: 10px;
    padding: 20px 50px;
    font-size: 40px;
    width: 500px;
    cursor: pointer;
}

.menu-btn:hover {
    background-color: #974990;
    color: white;
}
/* A modal alaphelyzetben rejtett és kitölti a képernyőt */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6); /* Sötétített háttér */
    backdrop-filter: blur(5px); 
}

/* A fehér doboz középen */
.modal-content {
    background-color: white;
    margin: 5vh auto; 
    padding: 30px;
    border: 3px solid #4f0348;
    width: 90%;
    max-width: 650px;
    border-radius: 15px;
    position: relative;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);

    max-height: 85vh;
    overflow-y: auto;
}

.modal-content::-webkit-scrollbar {
    width: 8px;
}

.modal-content::-webkit-scrollbar-thumb {
    background: #461f50;
    border-radius: 10px;
}

/* Bezáró gomb (X) */
.close-btn, .close {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 35px;
    font-weight: bold;
    color: #4f0348;
    cursor: pointer;
}

.close-btn:hover, .close:hover {
    color: #de0c0c;
}

.info-text p {
    font-size: 18px;
    line-height: 1.6;
    color: #000000;
}

#cy {
    width: 100%;
    height: 80vh; 
    background-color: white;
    border: 1px solid #ccc;
    margin-top: 10px;
}
.toolbar {
    display: flex;
    gap: 10px;
    margin: 10px 0;
    flex-wrap: wrap;
}

.tool-btn {
    padding: 8px 14px;
    cursor: pointer;
    border-radius: 10px;
    border:#000000 1px solid;
}

.tool-btn.active {
    background-color: #4f0348;
    color: white;
    border:#000000 1px solid;

}
 .tool-btn:hover {
    background-color: #974990;
    color: white;
    border:#000000 1px solid;  
 }

 .tool-btn.check-btn {
    background-color: #974990;
    border: 1px solid #000000;
    color: white;
    border-radius: 10px;
    font-size: 18px;
    width: fill-available;
    cursor: pointer;
 }

 .tool-btn.check-btn:hover {
    background-color: #461f50;
    color: white;
    border: none;  
 }


.result-content {
    max-width: 500px;
    text-align: left;
}

#check-list {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    line-height: 2.2;
    font-size: 1.1em;
}

#check-list li {
    border-bottom: 1px solid #eee;
    padding: 5px 0;
}

#final-verdict {
    margin-top: 25px;
    padding: 15px;
    font-weight: bold;
    font-size: 1.3em;
    text-align: center;
    border-top: 2px solid #ddd;
    border-radius: 0 0 10px 10px;
}


.result-success { color: #28a745; }
.result-error { color: #dc3545; }


/* --- Izomorf oldal elrendezése --- */
.archive-layout {
    display: flex;
    gap: 20px;
    padding: 20px;
    height: 80vh;
}

.example-sidebar {
    width: 250px;
    overflow-y: auto;
    background: #fff;
    padding: 15px;
    border: 2px solid #461f50;
    border-radius: 10px;
}

.example-sidebar h3 {
    color: #461f50;
    margin-top: 0;
    
}

.editor-container {
    flex-grow: 1;
    display: flex;
    gap: 10px;
}

.graph-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    border: #000000 1px solid;
}

.panel-header {
    color: white;
    padding: 5px;
    text-align: center;
    font-weight: bold;
}

.header-a { background-color: #60c670; }
.header-b { background-color: #5bc0de; }

.cy-canvas {
    flex-grow: 1;
    border: 1px solid #ccc;
    background: white;
}


.full-width { width: 100%; }
.mb-5 { margin-bottom: 5px; }
.hidden { display: none; }

.labeling-start-btn { background-color: #5bc0de; color: white; font-size: 18px; border:#000000 1px solid;}
.labeling-check-btn { background-color: #40b285; color: white; font-size: 18px; border:#000000 1px solid;}
.original-names-btn { background-color: #227892; color: white; font-size: 18px; border:#000000 1px solid;}
.complement-btn { background-color: #17a996; color: white; font-size: 18px; border:#000000 1px solid;}

.original-names-btn:hover {
    background-color: #461f50;
    color: white;
    border:#000000 1px solid;
}
.labeling-start-btn:hover {
    background-color: #461f50;
    color: white;
    border:#000000 1px solid; 
}  
.labeling-check-btn:hover {
    background-color: #461f50;
    color: white;
    border:#000000 1px solid; 
}
.complement-btn:hover {
    background-color: #461f50;
    color: white;
    border:#000000 1px solid; 
}

.label-modal-content {
    max-width: 300px;
    text-align: center;
}

#labelSelector {
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.modal-actions {
    display: flex;
    gap: 10px;
    justify-content: center;
}

